<!DOCTYPE html>
<html lang="de">
  <head>
    <style>
   
      </style>
    <link rel="stylesheet" type href="styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27</title>
  </head>
  <body>
    <!-- Sichtbarer Dokumentinhalt im body -->

    <h1>Herzlich Willkommen</h1>
    <p>
    <button type="button">Kontostand anzeigen</button>
        </p>
    <p>
    <button type="button">Einzahlen</button>
    </p>
    <p>
    <button type="button">Auszahlen</button>
        </p>
    <p>
    <button type="button">Überweisung</button>
        </p>

        <h2>Impressum </h2>
        <p>Lena Temminghoff
        <p>Berufskolleg Borken</p>
        <p>Josefstraße 12</p>
        <P>46325 Borken</P>
      <kbd></kbd></p>
    <img src="logo.png" alt="Bank Logo" width="32" height="32">
    <a href="http://berufskolleg-borken.de">BKB</a>
    <hr>
    
<table border="1">
    <tr>
      <td>Zeile1 Spalte1</td>
      <td>Zeile1 Spalte2</td>
    </tr>
    <tr>
      <td>Zeile2 Spalte1</td>
      <td>Zeile2 Spalte2</td>
    </tr>
</table>
  </body>
  <div> Hallo </div> 
  <ul>
    <li>Listenelement</li>
    <li>Listenelement</li>
  </ul>
  <ol>
    <li>Text 1 </li>
    <li>Text 2</li>
    <li>Text 3</li>
</ol>

</html>