<!DOCTYPE html>
<html>
<head>
<title>Klausur02</title>
<link rel="stylesheet" type="text/css" href="styles.css"
<!--Lena Temminghoff-->
</head>

<body>
<h1>Klausur Nr.2</h1>
<h2>Vorbereitungen</h2>
Hier könnte ihr Text stehen

<table
<tr>
  <td>1</td>
  <td>4</td>
  <td>7</td>
</tr>
<tr>
  <td>2</td>
  <td>5</td>
  <td>8</td>
</tr>
<tr>
  <td>3</td>
  <td>6</td>
  <td>9</td>
</tr>
</table>

<ol>
  <li>Punkt1</li>
  <li>Punkt2</li>
</ol>

<button type="button">Klick mich</button>
<p>
  <a href="http://berufskolleg-borken.de" target=_blank >Hier geht es zum BKB</a>
</p>

<hr>

</body>









</html>