<!DOCTYPE html>
<html lang="de">
  <head>
    <link rel="stylesheet" type href="styles.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>N27</title>
  </head>
  <body>
    <!-- Sichtbarer Dokumentinhalt im body -->

    <h1>Herzlich Willkommen</h1>
    <p>
    <button type="button">Kontostand anzeigen</button>
        </p>
    <p>
    <button type="button">Einzahlen</button>
    </p>
    <p>
    <button type="button">Auszahlen</button>
        </p>
    <p>
    <button type="button">Überweisung</button>
        </p>

        <h2>Impressum </h2>
        <p>Lena Temminghoff
        <p>Berufskolleg Borken</p>
        <p>Josefstraße 12</p>
        <P>46325 Borken</P>
      <kbd></kbd></p>
  </body>
</html>