
    body {
        font-family: Arial, Helvetica, sans-serif;
        color:white;
        background-color: powderblue;
        background-image: url('hintergrundbild2.png');

    }
        
        ul {
            list-style: square inside url("icon1.png");
          }