
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(222, 135, 193);
        background-color: powderblue;
        background-image: url('Hintergrund3.jpg');

        div {
            font: 100;
       

    }
        
      